# Build and Release Folders
bin-debug/
bin-release/
bin/
out/
build-*
build
x64
Debug
Release
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

#others
.vs
*.user
*.bmp
.phoenix/
